<div class="form">

<h1>Decide ...</h1>

<%= form_for @house do |f|%>
<%=   f.label :name %>
<%=   f.text_field :name %>

<%=   f.label :animal %>
<%=   f.text_field :animal %>

<%=   f.label :img_url %>
<%=   f.text_field :img_url %>
<%= f.submit %>
<% end %>

</div>
