<div class="house_img"><img src="<%= @house.img_url %>" alt=""></div>
<h1>House <%= @house.name %> of the <%= @house.animal %></h1>

<h3 class = 'title'>Lineage</h3>
<div class="char_list">

  <% @house.characters.each do |character| %>

  <a href="<%= house_character_path(@house, character) %>"><%= character.name %></a>

  <% end %>
  </div>
<hr>
<footer style="text-align:center; margin-top:30px">

  <%= link_to 'Add a Member', new_house_character_path(@house) %>
  <%= link_to 'Destroy House', house_path(@house), method: :delete, data: {confirm: "Are you sure?"} %>

 <footer>
